<!-- صدقني انا مش مبسوط باللي عامله ده بس مفيش وقت -->





<div class="row" *ngIf="subs == 'Music'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
</div>
<div class="row" *ngIf="subs == 'Books'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>

</div>
<div class="row" *ngIf="subs == 'Men\'s Fashion'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Bags & luggage</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Men's Clothing</h3>
        </div>
    </div>
</div>

<div class="row" *ngIf="subs == 'Women\'s Fashion'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Kid's Fashion</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Handbags</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Eyewear</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Jewellery</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Watches</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Footwear</h3>
        </div>
    </div>
</div>
<div class="row" *ngIf="subs == 'SuperMarket'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Pet Supplies</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Candy & Chocolate</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Baby Food</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Breakfast Food</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Snack Food</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Home Care & Cleaning</h3>
        </div>
    </div>
</div>
<div class="row" *ngIf="subs == 'Baby & Toys'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Toys</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Potty Training</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Bouncers & Swings</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Car Seats & Strollers</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Nursing & Feeding</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Bathing & Skin Care</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Baby Safety Products</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Diapers & Diaper Bags</h3>
        </div>
    </div>
</div>
<div class="row" *ngIf="subs == 'Home'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Kitchen & Dining</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Home Decor</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Furniture</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Tools & Home Improvement</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Bath & Bedding</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Drinkware</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Cookware</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Large Appliances</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Home Appliances</h3>
        </div>
    </div>
</div>
<div class="row" *ngIf="subs == 'Beauty & Health'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Health & Nutrition</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Personal Care</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Skin Care</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Hair Care</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Makeup</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Fragrance</h3>
        </div>
    </div>
</div>
<div class="row" *ngIf="subs == 'Mobiles'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Mobile Gaming & VR Gadgets</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Covers & Screen protectors</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Chargers & Cables</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Power Banks</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Earphones</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Wireless Earphones</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Smartwatches & Accessories</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>All Tablets</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>All Mobile Phones</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Mobile New Arrivals</h3>
        </div>
    </div>
</div>
<div class="row" *ngIf="subs == 'Electronics'">
    <h2 class="text-center p-3 my-4 text-success">{{subs}} Subcategories </h2>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Electronics</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Computer Components</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Data Storage</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Networking Products</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Printers & Accessories</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Cameras & Accessories</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Video Games</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Audio & Home Entertainment</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>Laptops & Accessories</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border text-center customShadow p-4 my-3">
            <h3>TVs, Satellites & Accessories</h3>
        </div>
    </div>

</div>
