<div class="container pt-5 mt-4">
    <div class="bg-body-secondary ">
        <h1 class="p-4 m-4 fw-bold">My Wish List</h1>

        <div class="row pb-5" *ngFor="let item of product">
            <div class="col-md-2">
                <img [src]="item.imageCover" class="w-100 p-3">
            </div>
            <div class="col-md-7 align-self-center">
                <h4>{{item.title }}</h4>
                <p class="text-success">{{item.price | currency:'EGP':'E£'}}</p>
                <button class="btn p-0">
                    <i class="fa fa-trash" style="color: rgba(240, 36, 36, 0.699);" (click)="removeFromWishList(item.id)"> remove</i>
                </button>
            </div>
            <div class="col-md-3 d-flex">
                <button class="btn btn-lg btn-outline-success align-self-center mb-5" (click)="addToCart(item.id)">Add to Cart</button>
            </div>
            <hr>
        </div>
    </div>
</div>