<div class="container my-5 pt-5">
        <div class="row g-0 justify-content-center ">
            <div class="col-md-4">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <img src="./assets/images/41nN4nvKaAL._AC_SY200_.jpg"  height="450" class="w-75 m-auto">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./assets/images/61cSNgtEISL._AC_SY200_.jpg"  height="450" class="w-75 m-auto" >
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="col-md-3">
                <img src="./assets/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" class="w-100" >
                <img src="./assets/images/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" class="w-100">
            </div>
    </div>
    
</div>