<div class="product py-4">
    <div class="product" [routerLink]="['/product-details',product.id]">
        <img [src]="product.imageCover" class="w-100">
    </div>
    <div class="d-flex justify-content-between position-relative pb-2">
        <h6>{{product.title.split(' ').splice(0,3).join(' ')}}</h6>
        <a>
            <i class="fa-solid fa-heart fs-3 position-absolute pb-5 mx-5 end-0 red_heart" style="color: red;" *ngIf="wishlistData.includes(product.id)" (click)="removeFromWishList(product.id)"></i>
            <i class="fa-regular fa-heart fs-3 position-absolute pb-5 end-0 "  *ngIf="!wishlistData.includes(product.id)" (click)="addToWishlist(product.id)"></i>
        </a>
    </div>
    <div class="d-flex justify-content-between">
        <p>{{product.price|currency:"EGP":"E£"}}</p>
        <p> <i class="fa fa-star" style="color: gold;"></i> {{product.ratingsAverage}}</p>
    </div>

    <button class="btn btn-success w-100" (click)="addToCart(product.id)">+ add</button>
</div>